@font-face {
    font-family: 'Open_sans';
    src: url('fonts/opensans-light-webfont.woff2') format('woff2'),
         url('fonts/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Open_sans';
    src: url('/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Open_sans';
    src: url('fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Open_sans';
    src: url('fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

:root {
    --color: #333333;
    --font-family: "Open_sans", sans-serif;
    --font-siza: 16px;
}
 
* {
    margin: 0;
      padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

html body {
    margin: 0;
    padding: 0;
    font-size:var(--font-size);
    color: var(--color);
    font-family: var(--font-family);
    background-color: #FFFFFF;
  }

.general-container {
    background: #FFFFFF;
  }

  img {
    max-width: 100%;
  }

h2 {
    margin-left: -3px;
    padding: 80px 0 30px 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
  }
  
  a:hover,
  a:active,
  a:focus {
    cursor: pointer;
  }

  a:hover {
    color: #C283F3;
  }

  a:focus {
    border: 2px solid #7943A4;
  }

  a:active {
    color: #7943A4;
  }


ul {
    padding: 0;
    list-style: none;
  }

.btn {
    flex-direction: row;
    align-items: flex-start;
    padding: 22.5px 36px;
    border: 1px solid #9D5CD0;
    border-color: #9D5CD0;
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background-color: #9D5CD0;
}

  .header-top{
    max-width: 1630px;
    display: flex;
    justify-content: right;
    margin: 0 auto;
    padding: 0 15px;
    background: #000000;
  }

  .header-top__logo {
    padding: 30px 179px 27px 10px;
    /* margin-right: 179px; */
  }

  .header-top__menu{
    padding: 37px 265px 0 0;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }

  .header-top__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .header-top__item:not(:last-child) {
    margin-right: 64px;
  }

.header-top__entrance {
  display: flex;
  justify-content: flex-end;
  padding-top: 37px;
  margin: 0;
}

.header-top__entr-link:hover path {
  outline: 1px solid #7943A4;
}

.header-top__entr-link:hover path {
  fill: #C283F3;
}

.header-top__entr-link:active path {
  fill: #9D5CD0;
}

  .header-bottom {
    max-width: 1630px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /* padding: 0 15px; */
    background-color: rgba(255,255,255,0.4);
  }

  .header-bottom::before {
    content: '';
    position: absolute;
    width: 1630px;
    height: 70px;
    right: auto;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  .header-bottom__list {
    display: flex;
    justify-content: flex-start;
    padding: 23px 305px 22px 27px;
    margin-left: -2px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    z-index: 2;
  }

  .header-bottom__item:not(:last-child) {
    margin-right: 90px;
    letter-spacing: 1px;
  }

  .header-bottom__item a:hover {
    color: #7943A4;
    cursor: pointer;
  }
  .header-bottom__item:hover path {
    stroke: #7943A4;
  }


  .header-bottom__item a:focus {
    border: 2px solid #7943A4;
  }

  .header-bottom__item a:active {
    color: #7943A4;
    cursor: pointer;
  }

  /* .header_bottom-item_icon {
    margin-top: -2px;
    padding-left: 3px;
    text-align: center;
  } */

  /* Скролл для нижнего меню */

/* скрытие и показ */

.header-bottom__scrollbar {
    display: none;
}

.header-bottom__scrollbar img {
    transform: rotate(180deg);
}


#scrollbar {
    display: block;
    position: absolute;
    z-index: 10;
    left: 133px;
    top: 473px;
    bottom: 0;
    width: 300px;
    height: 300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.4);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
}

#scrollbar1 {
    display: block;
    position: absolute;
    z-index: 9;
    left: 312px;
    top: 473px;
    bottom: 0;
    width: 300px;
    height: 300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.4);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
}

#scrollbar2 {
    display: block;
    position: absolute;
    z-index: 8;
    left: 562px;
    top: 473px;
    bottom: 0;
    width: 300px;
    height: 300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.4);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
}

#scrollbar3 {
    display: block;
    position: absolute;
    z-index: 7;
    left: 863px;
    top: 473px;
    bottom: 0;
    width: 300px;
    height: 300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.4);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
}

#scrollbar4 {
    display: block;
    position: absolute;
    z-index: 6;
    left: 1067px;
    top: 473px;
    bottom: 0;
    width: 300px;
    height: 300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.4);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
}

#scrollbar.is-action {
    transform: none;
}  

  .simplebar-content-wrapper { 
    overflow : auto; 
  } 

  .header-bottom__scrollbar,
  .header-bottom__scrollbar1,
  .header-bottom__scrollbar2,
  .header-bottom__scrollbar3,
  .header-bottom__scrollbar4 {
    width: 300px;
    height: 300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.4);
}

.simplebar-track.simplebar-vertical {
    width: 2px;
    height: 222px;
    margin-top: 40px;
    margin-right: 19px;
    background: #000000;
}

  .simplebar-scrollbar::before,
  .simplebar-scrollbar1::before,
  .simplebar-scrollbar2::before,
  .simplebar-scrollbar3::before,
  .simplebar-scrollbar4::before {
    width: 3px;
    height: 28px;
    margin-right: 19px;
    left: 0;
    right: 0;
    top: 0 !important;
    opacity: 1;
    transition: opacity 0 linear !important;
    background: #9D5CD0;
  }


.header-bottom__scrollbar-item,
.header-bottom__scrollbar1-item,
.header-bottom__scrollbar2-item,
.header-bottom__scrollbar3-item,
.header-bottom__scrollbar4-item {
    margin-bottom: 20px;
    padding: 9px 0px 11px 14px;
    text-align: left;
    color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.header-bottom__scrollbar-item a:hover,
.header-bottom__scrollbar1-item a:hover,
.header-bottom__scrollbar2-item a:hover,
.header-bottom__scrollbar3-item a:hover,
.header-bottom__scrollbar4-item a:hover {
  color: white;
}

.header-bottom__scrollbar-item a:focus,
.header-bottom__scrollbar1-item a:focus,
.header-bottom__scrollbar2-item a:focus,
.header-bottom__scrollbar3-item a:focus,
.header-bottom__scrollbar4-item a:focus {
  border: none;
}

/* 1 */

.header-bottom__scrollbar-item:nth-child(1) {
    background-image: url(../img/desktop1920/tintopetto.png);
}

.header-bottom__scrollbar-item:nth-child(2) {
    background-image: url(../img/desktop1920/fridrih.png);
}

.header-bottom__scrollbar-item:nth-child(3) {
    background-image: url(../img/desktop1920/leonardo.png);
}

.header-bottom__scrollbar-item:nth-child(4) {
    background-image: url(../img/desktop1920/verrokkio.png);
}

.header-bottom__scrollbar-item:nth-child(5) {
    background-image: url(../img/desktop1920/tintopetto.png);
}

.header-bottom__scrollbar-item:nth-child(6) {
    background-image: url(../img/desktop1920/fridrih.png);
}

.header-bottom__scrollbar-item:nth-child(1):active{
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/tintopetto.png);
}

.header-bottom__scrollbar-item:nth-child(2):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/fridrih.png);
}

.header-bottom__scrollbar-item:nth-child(3):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/leonardo.png);
}

.header-bottom__scrollbar-item:nth-child(4):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/verrokkio.png);
}

.header-bottom__scrollbar-item:nth-child(5):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/tintopetto.png);
}

.header-bottom__scrollbar-item:nth-child(6):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/fridrih.png);
}

/* 2 */

.header-bottom__scrollbar1-item:nth-child(1) {
  background-image: url(../img/desktop1920/link2-item1.png);
}

.header-bottom__scrollbar1-item:nth-child(2) {
  background-image: url(../img/desktop1920/link2-item2.png);
}

.header-bottom__scrollbar1-item:nth-child(3) {
  background-image: url(../img/desktop1920/link2-item3.png);
}
.header-bottom__scrollbar1-item:nth-child(4) {
  background-image: url(../img/desktop1920/link2-item4.png);
}
.header-bottom__scrollbar1-item:nth-child(5) {
  background-image: url(../img/desktop1920/link2-item1.png);
}
.header-bottom__scrollbar1-item:nth-child(6) {
  background-image: url(../img/desktop1920/link2-item2.png);
}

.header-bottom__scrollbar1-item:nth-child(1):active{
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link2-item1.png);
}

.header-bottom__scrollbar1-item:nth-child(2):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link2-item2.png);
}

.header-bottom__scrollbar1-item:nth-child(3):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link2-item3.png);
}

.header-bottom__scrollbar1-item:nth-child(4):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link2-item4.png);
}

.header-bottom__scrollbar1-item:nth-child(5):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link2-item1.png);
}

.header-bottom__scrollbar1-item:nth-child(6):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link2-item2.png);
}

/* 3 */

.header-bottom__scrollbar2-item:nth-child(1) {
  background-image: url(../img/desktop1920/link3-item1.png);
}

.header-bottom__scrollbar2-item:nth-child(2) {
  background-image: url(../img/desktop1920/link3-item2.png);
}

.header-bottom__scrollbar2-item:nth-child(3) {
  background-image: url(../img/desktop1920/link3-item3.png);
}
.header-bottom__scrollbar2-item:nth-child(4) {
  background-image: url(../img/desktop1920/link3-item4.png);
}
.header-bottom__scrollbar2-item:nth-child(5) {
  background-image: url(../img/desktop1920/link3-item1.png);
}
.header-bottom__scrollbar2-item:nth-child(6) {
  background-image: url(../img/desktop1920/link3-item2.png);
}

.header-bottom__scrollbar2-item:nth-child(1):active{
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link3-item1.png);
}

.header-bottom__scrollbar2-item:nth-child(2):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link3-item2.png);
}

.header-bottom__scrollbar2-item:nth-child(3):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link3-item3.png);
}

.header-bottom__scrollbar2-item:nth-child(4):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link3-item4.png);
}

.header-bottom__scrollbar2-item:nth-child(5):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link3-item1.png);
}

.header-bottom__scrollbar2-item:nth-child(6):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link3-item2.png);
}

/* 4 */

.header-bottom__scrollbar3-item:nth-child(1) {
  background-image: url(../img/desktop1920/link4-item1.png);
}

.header-bottom__scrollbar3-item:nth-child(2) {
  background-image: url(../img/desktop1920/link4-item2.png);
}

.header-bottom__scrollbar3-item:nth-child(3) {
  background-image: url(../img/desktop1920/link4-item3.png);
}
.header-bottom__scrollbar3-item:nth-child(4) {
  background-image: url(../img/desktop1920/link4-item4.png);
}
.header-bottom__scrollbar3-item:nth-child(5) {
  background-image: url(../img/desktop1920/link4-item1.png);
}
.header-bottom__scrollbar3-item:nth-child(6) {
  background-image: url(../img/desktop1920/link4-item2.png);
}

.header-bottom__scrollbar3-item:nth-child(1):active{
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link4-item1.png);
}

.header-bottom__scrollbar3-item:nth-child(2):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link4-item2.png);
}

.header-bottom__scrollbar3-item:nth-child(3):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link4-item3.png);
}

.header-bottom__scrollbar3-item:nth-child(4):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link4-item4.png);
}

.header-bottom__scrollbar3-item:nth-child(5):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link4-item1.png);
}

.header-bottom__scrollbar3-item:nth-child(6):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link4-item2.png);
}

/* 5 */

.header-bottom__scrollbar4-item:nth-child(1) {
  background-image: url(../img/desktop1920/link5-item1.png);
}

.header-bottom__scrollbar4-item:nth-child(2) {
  background-image: url(../img/desktop1920/link5-item2.png);
}

.header-bottom__scrollbar4-item:nth-child(3) {
  background-image: url(../img/desktop1920/link5-item3.png);
}
.header-bottom__scrollbar4-item:nth-child(4) {
  background-image: url(../img/desktop1920/link5-item4.png);
}
.header-bottom__scrollbar4-item:nth-child(5) {
  background-image: url(../img/desktop1920/link5-item1.png);
}
.header-bottom__scrollbar4-item:nth-child(6) {
  background-image: url(../img/desktop1920/link5-item2.png);
}

.header-bottom__scrollbar4-item:nth-child(1):active{
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link5-item1.png);
}

.header-bottom__scrollbar4-item:nth-child(2):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link5-item2.png);
}

.header-bottom__scrollbar4-item:nth-child(3):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link5-item3.png);
}

.header-bottom__scrollbar4-item:nth-child(4):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link5-item4.png);
}

.header-bottom__scrollbar4-item:nth-child(5):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link5-item1.png);
}

.header-bottom__scrollbar4-item:nth-child(6):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link5-item2.png);
}


.header-bottom__scrollbar-item:focus,
.header-bottom__scrollbar1-item:focus,
.header-bottom__scrollbar2-item:focus,
.header-bottom__scrollbar3-item:focus,
.header-bottom__scrollbar4-item:focus {
    border: 2px solid #9D5CD0;
}

.header-bottom__scrollbar-item:hover,
.header-bottom__scrollbar1-item:hover,
.header-bottom__scrollbar2-item:hover,
.header-bottom__scrollbar3-item:hover,
.header-bottom__scrollbar4-item:hover {
    border: 2px solid #9D5CD0;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}

  form:focus {
    border: 2px solid #7943A4;
  }

  form:hover {
    border: 2px solid #7943A4;
  }

  #seach {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }

  .header-bottom__search {
    position: relative;
    max-width: 260px;
    margin-top: 23px;
    padding: 0 2px 4px 0;
    z-index: 2;
  }

  .header-bottom__btn {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 2px;
    right: 232px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
  }

.header-bottom__search input {
    margin-right: 134px;
    margin-left: 37px;
    padding: 3px 26px 4px 0px;
    color: #FFFFFF;
    background:  none;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #FFFFFF;
  }

  .header-bottom__search input:hover {
    border-bottom: 1px solid #C283F3;
    cursor: pointer;
  }

  .header-bottom__search input:active {
    color: #C283F3;
    cursor: pointer;
  }

  .header-bottom__btn:hover path {
    fill: #C283F3;
    cursor: pointer;
  }

  .header-bottom__btn:active path
  .header-bottom__search input:active {
    fill: #C283F3;
    color: #C283F3;
  }

  .header-bottom__btn:hover rect {
    fill: #C283F3;
    cursor: pointer;
  }

  .header-bottom__btn:active rect {
    fill: #C283F3;
  }

  input::-webkit-input-placeholder {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }
  input:-moz-placeholder {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }
  input:-ms-input-placeholder {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }
/* Body */


.hero__animation {
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

/* .hero-animation_image {
  background: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash2.png) no-repeat;
  animation: anim 20s ease-in-out;
} */

.hero__block {
  max-width: 100%;
  overflow: hidden;
}

.hero__image {
  max-width: 100%;
  position: absolute;
  width: 1630px;
  height: 700px;
  top: 100px;
  left: 133px;
  background: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash2.png) center no-repeat;
  animation: anim 15s ease-in-out;
}

/* .hero-animation_image:hover {
   transform: scale(1.5);
} */

.hero__text-container {
max-width: 1630px;
position: relative;
margin: 0 auto;
padding: 26px 15px 120px 15px;
color: #FFFFFF;
}

@keyframes anim {
    0% {
      transform: scale(1);
    }

    /* 50% {
      margin-left: -95px;
      margin-top: 34px;
      transform: scale(1.1);
    } */

    /* 50% {
      margin-left: -190px;
      margin-top: 70px;
        transform: scale(1.1);
    } */

    60% {
      margin-left: -82px;
      margin-top: 35px;
        transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }

}

h1 {
    width: 37%;
    margin-left: -6px;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 72px;
    line-height: 115%;
    letter-spacing: 2.7px;
}

.hero__discr{
    width: 37%;
    margin-bottom: 92px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.6px;
}

.hero__btn:focus {
  border: 3px solid #7943A4;
}

.hero__btn:hover {
  border: 3px solid #D1A9F0;
}

.hero__btn:active {
  background-color: #7943A4;
  border: 3px solid #D1A9F0;
}

.hero__btn a:hover {
  color: #FFFFFF;
}


/* .section-after-animation {
  position: relative;
  padding: 631px 0 0 0;
  margin-left: -2px;
} */


.us__container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
  z-index: 2;
}

.us__container-back {
  position: absolute;
  width: 1895px;
  height: 93px;
  background: #FFFFFF;
  z-index: 1;
}

.us__discr {
    margin: -13px 0px 0 -1px;
    width: 70%;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.7px;
}
