@font-face {
    font-family: 'Open_sans';
    src: url('fonts/opensans-light-webfont.woff2') format('woff2'),
         url('fonts/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Open_sans';
    src: url('/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Open_sans';
    src: url('fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Open_sans';
    src: url('fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

:root {
    --color: #333333;
    --font-family: "Open_sans", sans-serif;
    --font-siza: 16px;
}
 
* {
    margin: 0;
      padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

html body {
    margin: 0;
    padding: 0;
    font-size:var(--font-size);
    color: var(--color);
    font-family: var(--font-family);
    background-color: #FFFFFF;
  }

.general-container {
    background: #FFFFFF;
  }

h2 {
    padding: 80px 0 30px 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
  }
  
  a:hover,
  a:active,
  a:focus {
    cursor: pointer;
  }

  a:hover {
    color: #C283F3;
  }

  a:focus {
    border: 2px solid #7943A4;
  }

  a:active {
    color: #7943A4;
  }


ul {
    padding: 0;
    list-style: none;
  }

.btn {
    flex-direction: row;
    align-items: flex-start;
    padding: 22.5px 36px;
    border: 1px solid #9D5CD0;
    border-color: #9D5CD0;
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background-color: #9D5CD0;
}

  .header_top{
    max-width: 1920px;
    display: flex;
    justify-content: right;
    padding: 30px 160px 27px 160px;
    background: #000000;
  }

  .header_top_logo {
    margin-right: 179px
  }

  .header_top-menu {
    display: flex;
    justify-content: space-between;
    margin-left: 42px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }

  .header_top-menu-list {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    text-align: center;
  }

  .header_top-menu-item {
    padding-left: 62px;
  }

  .header_top-menu-item:first-child {
      margin-left: -42px;
      padding-left: 0px;
  }

  .header_top-menu-item:nth-child(5) {
    padding-left: 65px;
}

.header_top-menu-item:nth-child(6) {
  padding-left: 65px;
}

.header_top-menu-item:last-child {
  position: absolute;
  left: 1625px;
}

.header_top_entrance_button:hover path {
  outline: 1px solid #7943A4;
}

.header_top_entrance_button:hover path {
  fill: #C283F3;
}

.header_top_entrance_button:active path {
  fill: #9D5CD0;
}

  .header_bottom {
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    padding: 0 160px;
    background-color: rgba(255,255,255,0.4);
  }

  .header_bottom::before {
    content: '';
    position: absolute;
    width: 1920px;
    height: 70px;
    left: 0px;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  .header_bottom_list {
    display: flex;
    justify-content: flex-start;
    padding: 23px 0px 22px 0px;
    margin-left: -2px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    z-index: 2;
  }

  .header_bottom-item {
    padding-left: 96px;
  }

  .header_bottom-item a:hover {
    color: #7943A4;
    cursor: pointer;
  }
  .header_bottom-item:hover path {
    stroke: #7943A4;
  }


  .header_bottom-item a:focus {
    border: 2px solid #7943A4;
  }

  .header_bottom-item a:active {
    color: #7943A4;
    cursor: pointer;
  }

  .header_bottom-item:first-child {
      padding-left: 0;
  }

  .header_bottom-item:nth-child(3) {
    padding-left: 100px;
}

.header_bottom-item:nth-child(4) {
    padding-left: 106px;
}

  .header_bottom-item_icon {
    margin-top: -2px;
    padding-left: 3px;
    text-align: center;
  }

  /* Скролл для нижнего меню */

/* скрытие и показ */

.header_bottom_scrollbar {
    display: none;
}

.header_bottom_scrollbar img {
    transform: rotate(180deg);
}


#scrollbar {
    display: block;
    position: absolute;
    z-index: 10;
    left: 160px;
    top: 473px;
    bottom: 0;
    width: 300px;
    height: 300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.4);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
}

#scrollbar1 {
    display: block;
    position: absolute;
    z-index: 9;
    left: 339px;
    top: 473px;
    bottom: 0;
    width: 300px;
    height: 300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.4);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
}

#scrollbar2 {
    display: block;
    position: absolute;
    z-index: 8;
    left: 589px;
    top: 473px;
    bottom: 0;
    width: 300px;
    height: 300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.4);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
}

#scrollbar3 {
    display: block;
    position: absolute;
    z-index: 7;
    left: 890px;
    top: 473px;
    bottom: 0;
    width: 300px;
    height: 300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.4);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
}

#scrollbar4 {
    display: block;
    position: absolute;
    z-index: 6;
    left: 1094px;
    top: 473px;
    bottom: 0;
    width: 300px;
    height: 300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.4);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
    transition: transform .3s ease-in-out;
    transform: translateY(-101%);
}

#scrollbar.is-action {
    transform: none;
}  

  .simplebar-content-wrapper { 
    overflow : auto; 
  } 

  .header_bottom_scrollbar,
  .header_bottom_scrollbar1,
  .header_bottom_scrollbar2,
  .header_bottom_scrollbar3,
  .header_bottom_scrollbar4 {
    width: 300px;
    height: 300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.4);
}

.simplebar-track.simplebar-vertical {
    width: 2px;
    height: 222px;
    margin-top: 40px;
    margin-right: 19px;
    background: #000000;
}

  .simplebar-scrollbar::before,
  .simplebar-scrollbar1::before,
  .simplebar-scrollbar2::before,
  .simplebar-scrollbar3::before,
  .simplebar-scrollbar4::before {
    width: 3px;
    height: 28px;
    margin-right: 19px;
    left: 0;
    right: 0;
    top: 0 !important;
    opacity: 1;
    transition: opacity 0 linear !important;
    background: #9D5CD0;
  }


.header_bottom_scrollbar-item,
.header_bottom_scrollbar1-item,
.header_bottom_scrollbar2-item,
.header_bottom_scrollbar3-item,
.header_bottom_scrollbar4-item {
    margin-bottom: 20px;
    padding: 9px 0px 11px 14px;
    text-align: left;
    color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.header_bottom_scrollbar-item a:hover,
.header_bottom_scrollbar1-item a:hover,
.header_bottom_scrollbar2-item a:hover,
.header_bottom_scrollbar3-item a:hover,
.header_bottom_scrollbar4-item a:hover {
  color: white;
}

.header_bottom_scrollbar-item a:focus,
.header_bottom_scrollbar1-item a:focus,
.header_bottom_scrollbar2-item a:focus,
.header_bottom_scrollbar3-item a:focus,
.header_bottom_scrollbar4-item a:focus {
  border: none;
}

/* 1 */

.header_bottom_scrollbar-item:nth-child(1) {
    background-image: url(../img/desktop1920/tintopetto.png);
}

.header_bottom_scrollbar-item:nth-child(2) {
    background-image: url(../img/desktop1920/fridrih.png);
}

.header_bottom_scrollbar-item:nth-child(3) {
    background-image: url(../img/desktop1920/leonardo.png);
}

.header_bottom_scrollbar-item:nth-child(4) {
    background-image: url(../img/desktop1920/verrokkio.png);
}

.header_bottom_scrollbar-item:nth-child(5) {
    background-image: url(../img/desktop1920/tintopetto.png);
}

.header_bottom_scrollbar-item:nth-child(6) {
    background-image: url(../img/desktop1920/fridrih.png);
}

.header_bottom_scrollbar-item:nth-child(1):active{
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/tintopetto.png);
}

.header_bottom_scrollbar-item:nth-child(2):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/fridrih.png);
}

.header_bottom_scrollbar-item:nth-child(3):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/leonardo.png);
}

.header_bottom_scrollbar-item:nth-child(4):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/verrokkio.png);
}

.header_bottom_scrollbar-item:nth-child(5):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/tintopetto.png);
}

.header_bottom_scrollbar-item:nth-child(6):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/fridrih.png);
}

/* 2 */

.header_bottom_scrollbar1-item:nth-child(1) {
  background-image: url(../img/desktop1920/link2-item1.png);
}

.header_bottom_scrollbar1-item:nth-child(2) {
  background-image: url(../img/desktop1920/link2-item2.png);
}

.header_bottom_scrollbar1-item:nth-child(3) {
  background-image: url(../img/desktop1920/link2-item3.png);
}
.header_bottom_scrollbar1-item:nth-child(4) {
  background-image: url(../img/desktop1920/link2-item4.png);
}
.header_bottom_scrollbar1-item:nth-child(5) {
  background-image: url(../img/desktop1920/link2-item1.png);
}
.header_bottom_scrollbar1-item:nth-child(6) {
  background-image: url(../img/desktop1920/link2-item2.png);
}

.header_bottom_scrollbar1-item:nth-child(1):active{
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link2-item1.png);
}

.header_bottom_scrollbar1-item:nth-child(2):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link2-item2.png);
}

.header_bottom_scrollbar1-item:nth-child(3):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link2-item3.png);
}

.header_bottom_scrollbar1-item:nth-child(4):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link2-item4.png);
}

.header_bottom_scrollbar1-item:nth-child(5):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link2-item1.png);
}

.header_bottom_scrollbar1-item:nth-child(6):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link2-item2.png);
}

/* 3 */

.header_bottom_scrollbar2-item:nth-child(1) {
  background-image: url(../img/desktop1920/link3-item1.png);
}

.header_bottom_scrollbar2-item:nth-child(2) {
  background-image: url(../img/desktop1920/link3-item2.png);
}

.header_bottom_scrollbar2-item:nth-child(3) {
  background-image: url(../img/desktop1920/link3-item3.png);
}
.header_bottom_scrollbar2-item:nth-child(4) {
  background-image: url(../img/desktop1920/link3-item4.png);
}
.header_bottom_scrollbar2-item:nth-child(5) {
  background-image: url(../img/desktop1920/link3-item1.png);
}
.header_bottom_scrollbar2-item:nth-child(6) {
  background-image: url(../img/desktop1920/link3-item2.png);
}

.header_bottom_scrollbar2-item:nth-child(1):active{
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link3-item1.png);
}

.header_bottom_scrollbar2-item:nth-child(2):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link3-item2.png);
}

.header_bottom_scrollbar2-item:nth-child(3):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link3-item3.png);
}

.header_bottom_scrollbar2-item:nth-child(4):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link3-item4.png);
}

.header_bottom_scrollbar2-item:nth-child(5):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link3-item1.png);
}

.header_bottom_scrollbar2-item:nth-child(6):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link3-item2.png);
}

/* 4 */

.header_bottom_scrollbar3-item:nth-child(1) {
  background-image: url(../img/desktop1920/link4-item1.png);
}

.header_bottom_scrollbar3-item:nth-child(2) {
  background-image: url(../img/desktop1920/link4-item2.png);
}

.header_bottom_scrollbar3-item:nth-child(3) {
  background-image: url(../img/desktop1920/link4-item3.png);
}
.header_bottom_scrollbar3-item:nth-child(4) {
  background-image: url(../img/desktop1920/link4-item4.png);
}
.header_bottom_scrollbar3-item:nth-child(5) {
  background-image: url(../img/desktop1920/link4-item1.png);
}
.header_bottom_scrollbar3-item:nth-child(6) {
  background-image: url(../img/desktop1920/link4-item2.png);
}

.header_bottom_scrollbar3-item:nth-child(1):active{
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link4-item1.png);
}

.header_bottom_scrollbar3-item:nth-child(2):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link4-item2.png);
}

.header_bottom_scrollbar3-item:nth-child(3):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link4-item3.png);
}

.header_bottom_scrollbar3-item:nth-child(4):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link4-item4.png);
}

.header_bottom_scrollbar3-item:nth-child(5):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link4-item1.png);
}

.header_bottom_scrollbar3-item:nth-child(6):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link4-item2.png);
}

/* 5 */

.header_bottom_scrollbar4-item:nth-child(1) {
  background-image: url(../img/desktop1920/link5-item1.png);
}

.header_bottom_scrollbar4-item:nth-child(2) {
  background-image: url(../img/desktop1920/link5-item2.png);
}

.header_bottom_scrollbar4-item:nth-child(3) {
  background-image: url(../img/desktop1920/link5-item3.png);
}
.header_bottom_scrollbar4-item:nth-child(4) {
  background-image: url(../img/desktop1920/link5-item4.png);
}
.header_bottom_scrollbar4-item:nth-child(5) {
  background-image: url(../img/desktop1920/link5-item1.png);
}
.header_bottom_scrollbar4-item:nth-child(6) {
  background-image: url(../img/desktop1920/link5-item2.png);
}

.header_bottom_scrollbar4-item:nth-child(1):active{
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link5-item1.png);
}

.header_bottom_scrollbar4-item:nth-child(2):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link5-item2.png);
}

.header_bottom_scrollbar4-item:nth-child(3):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link5-item3.png);
}

.header_bottom_scrollbar4-item:nth-child(4):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link5-item4.png);
}

.header_bottom_scrollbar4-item:nth-child(5):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link5-item1.png);
}

.header_bottom_scrollbar4-item:nth-child(6):active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/desktop1920/link5-item2.png);
}


.header_bottom_scrollbar-item:focus,
.header_bottom_scrollbar1-item:focus,
.header_bottom_scrollbar2-item:focus,
.header_bottom_scrollbar3-item:focus,
.header_bottom_scrollbar4-item:focus {
    border: 2px solid #9D5CD0;
}

.header_bottom_scrollbar-item:hover,
.header_bottom_scrollbar1-item:hover,
.header_bottom_scrollbar2-item:hover,
.header_bottom_scrollbar3-item:hover,
.header_bottom_scrollbar4-item:hover {
    border: 2px solid #9D5CD0;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}


  /* #form-search {
    border: 1px solid white;
  } */

  form:focus {
    border: 2px solid #7943A4;
  }

  form:hover {
    border: 2px solid #7943A4;
  }

  .header_bottom_search {
    position: absolute;
    height: 34px;
    width: 266px;
    right: 152px;
    margin-top: 23px;
    padding: 0 2px 4px 0;
    z-index: 2;
  }

  .header_bottom_search-button {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 2px;
    right: 237px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
  }

.header_bottom_search input {
    margin-right: 134px;
    margin-left: 37px;
    padding: 3px 26px 4px 0px;
    color: #FFFFFF;
    background:  none;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #FFFFFF;
  }

  .header_bottom_search input:hover {
    border-bottom: 1px solid #C283F3;
    cursor: pointer;
  }

  .header_bottom_search input:active {
    color: #C283F3;
    cursor: pointer;
  }

  .header_bottom_search-button:hover path {
    fill: #C283F3;
    cursor: pointer;
  }

  .header_bottom_search-button:active path
  .header_bottom_search input:active {
    fill: #C283F3;
    color: #C283F3;
  }

  .header_bottom_search-button:hover rect {
    fill: #C283F3;
    cursor: pointer;
  }

  .header_bottom_search-button:active rect {
    fill: #C283F3;
  }

  input::-webkit-input-placeholder {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }
  input:-moz-placeholder {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }
  input:-ms-input-placeholder {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }
/* Body */


.hero-animation {
  max-width: 1920px;
  overflow: hidden;
}

/* .hero-animation_image {
  background: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash2.png) no-repeat;
  animation: anim 20s ease-in-out;
} */

.hero-animation_image-container {
  max-width: 100%;
  overflow: hidden;
}

.hero-animation_image {
  max-width: 100%;
  position: absolute;
  width: 1920px;
  height: 700px;
  top: 100px;
  left: 0;
  background: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash2.png) center no-repeat;
  animation: anim 25s ease-in-out;
}

/* .hero-animation_image:hover {
   transform: scale(1.5);
} */

.hero-container {
max-width: 1920px;
position: relative;
padding: 26px 160px 120px 160px;
color: #FFFFFF;
}

@keyframes anim {
    0% {
      margin-left: 0;
      margin-top: 0;
      transform: scale(1);
    }

    50% {
      margin-left: -95px;
      margin-top: 35px;
      transform: scale(1.1);
    }

    /* 50% {
      margin-left: -190px;
      margin-top: 70px;
        transform: scale(1.1);
    } */

    /* 75% {
      margin-left: -98px;
      margin-top: 35px;
        transform: scale(1.1);
    } */

    100% {
      margin-left: 0px;
      margin-top: 0px;
      transform: scale(1);
    }

}

h1 {
    width: 44%;
    margin-left: -1;
    font-weight: 700;
    font-size: 72px;
    line-height: 115%;
    letter-spacing: 2.7px;
}

.hero-container_discription {
    width: 33%;
    margin-top: -30px;
    margin-bottom: 92px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.6px;
}

.hero-button {
    margin-left: 3px;
}

.hero-button:focus {
  border: 3px solid #7943A4;
}

.hero-button:hover {
  border: 3px solid #D1A9F0;
}

.hero-button:active {
  background-color: #7943A4;
  border: 3px solid #D1A9F0;
}

.hero-button a:hover {
  color: #FFFFFF;
}


/* .section-after-animation {
  position: relative;
  padding: 631px 0 0 0;
  margin-left: -2px;
} */

.about-us-container {
    max-width: 1600px;
    width: 75%;
    padding: 0 160px;
}

.about-us-discription {
    margin: -13px 0 0 -1px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.7px;
}
